POSTGRES_DB=appdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_primary_password
BACKUP_USER_PASSWORD=change_me_backup_password
REPLICATION_PASSWORD=change_me_replication_password
PRIMARY_PORT=5437
REPLICA_PORT=5438
