POSTGRES_DB=appdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_in_local_env
POSTGRES_PORT=5434

# Consumida por init/01_roles.sh na primeira inicialização e pelos scripts de backup/PITR
BACKUP_USER=backup_user
BACKUP_USER_PASSWORD=change_me_backup_password

# Portas temporárias usadas apenas durante a validação de restore físico e PITR
VERIFY_PHYSICAL_PORT=5435
VERIFY_PITR_PORT=5436
